.App {
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
}

.NavTitle {
	margin-right: 15px;
}

nav {
	background-color: transparent;
	box-shadow: none;
}

.nav-wrapper {
	padding: 10px;
	background-color: transparent;
}

.NavMenuTitle {
	font-size: 50px;
	margin: 0px;
	padding: 10px;
	padding-bottom: 15px;
	background-color: grey;
	color: white;
}

.sidenav li > a {
	font-size: 20px;
	height: 100%;
}

.sidenav li:nth-of-type(1) {
	padding: 0px;
}

.NavItem {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.material-symbols-outlined {
	font-size: 30px;
}

.btn-floating,
.yellow.darken-1 {
	overflow: hidden !important;
	background-color: rgba(126, 126, 126, 0.413) !important;
}

.btn-floating.btn-large {
	background-color: rgba(126, 126, 126, 0.413) !important;
}
